<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/test.js"></script>


</head>
<body>
  <div id="file-viewer-container">
    <% for (var i = 0; i < directories.length; i++){%>
        <div class="directory col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div>
                <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
            </div>
            <div>
                <%=directories[i]%>
            </div>
        </div>
    <% }%>

    <% for (var i = 0; i < files.length; i++){%>
        <div class="file col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div>
                <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
            </div>
            <div>
                <%=files[i]%>
            </div>
        </div>
    <% }%>
</div>
</body>

</html>
